*{
    margin: 5;
    padding: 0;
}
.navbar img{
    position: static;
    margin-right: 350px;
    padding: 15px;
}
body{
    width: 97vw;
    height: 100vh;
    background-image: url("fundo.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.navbar{
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 75, 76);
    padding: 0px 0px;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}
a:hover{
    color: aliceblue;
}
a{
  text-decoration: none;
  color: cadetblue;
  font-family: Arial black;  
}
ul{
    list-style: none;
    position: relative;

}
.container {
    background-color: silver;
    opacity: 0.5;
    border: 2px;
    margin: 11px;
    width: 900px;
	height: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
}
footer{
    position: relative;
    color: white;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(12, 75, 76);
    width: 97vw;
    height: 80px;
}
